name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  code-quality:
    runs-on: ubuntu-latest

    name: "Linting"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: make install

      - name: Linting
        run: make lint

  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    name: "Python ${{ matrix.python-version }}"

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: make install

      - name: Run tests
        run: make coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: unittests-${{ matrix.python-version }}
          fail_ci_if_error: true  # default = false
          verbose: true  # default = false
